<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="favicon.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <title>Restaurant Apps Starter Project</title>
</head>
<body>

<a href="#maincontent" class="skip-link" tabindex="0">Menuju ke konten</a>
<header>
    <nav class="navbar">
        <h1>FlavorRaider</h1>
        <button id="menu" class="header__menu">☰</button>
        <ul id="drawer">
           <a href="/"><li>Home</li></a>
           <a href="#/favourite"><li>Favorite</li></a>
           <a href="https://www.instagram.com/_ahmadrazi_/"><li>About Us</li></a>
        </ul>
    </nav >
</header>


<div class="hero">
    <p>Remember that tasty food is important</p>
</div>

<!-- <h1 class="explore">Explore</h1> -->


<main id="maincontent" class="content" tabindex="0">


</main>

<footer>
    <p>Copyright © 2022 - FlavorRaider</p>
</footer>

</body>
</html>
